<%=h content_for(:title, @video.title + " — Jackson Gariety") %>

<section>
  <p id="notice"><%= notice %></p>

  <p>
    <b>Title:</b>
    <%= @video.title %>
  </p>

  <p>
    <b>Description:</b>
    <%= @video.description %>
  </p>

  <p>
    <b>Vimeo:</b>
    <%= @video.vimeo %>
  </p>

  <p>
    <b>Date:</b>
    <%= @video.date %>
  </p>

  <p>
    <b>Slug:</b>
    <%= @video.slug %>
  </p>

  <p>
    <b>Thumb:</b>
    <%= @video.thumb %>
  </p>
</section>