<%=h content_for(:title, @post.title + " — Jackson Gariety") %>

<section>
  <p id="notice"><%= notice %></p>

  <h1><%= @post.title %></h1>

  <article class="post-content">
    <p class="crafted-on"><i>Crafted on <%= @post.created_at.strftime("%A, %B #{@post.created_at.day.ordinalize}, %Y") %></i></p>
    <%= @post.content.html_safe %>
    <p>Now read: <%= link_to(@post.next_path.title, @post.next_path) %></p>
  </article>
</section>