<section>
  <p id="notice"><%= notice %></p>

  <p>
    <b>Title:</b>
    <%= @sound.title %>
  </p>

  <p>
    <b>Description:</b>
    <%= @sound.description %>
  </p>

  <p>
    <b>Date:</b>
    <%= @sound.date %>
  </p>

  <p>
    <b>Slug:</b>
    <%= @sound.slug %>
  </p>

  <p>
    <b>Sound:</b>
    <%= @sound.sound %>
  </p>

  <p>
    <b>Thumb:</b>
    <%= @sound.thumb %>
  </p>

  <p>
    <b>Artist:</b>
    <%= @sound.artist %>
  </p>

  <p>
    <b>Album:</b>
    <%= @sound.album %>
  </p>
</section>