<!DOCTYPE html>
<html>
<head>
  <title><%=h yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Hi, I'm Jackson. I like patterns, code, and humans. I can see the future.">
  <meta name="keywords" content="jackson,gariety,design,development,philosophy,art,web,programming,photography,fortune,teller,seer,clairvoyant">
  <meta name="author" content="Jackson Gariety">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=668">
  <%= auto_discovery_link_tag :atom, "/feeds/literary" %>
  <%= auto_discovery_link_tag :atom, "/feeds/architect" %>
  <%= auto_discovery_link_tag :atom, "/posts/stalker" %>
  <%= javascript_include_tag "modernizr" %>
</head>
<body>
<h1 id="title">Jackson Gariety — Designer, Hacker, Clairvoyant</h1>
<aside>
  <a href="/"><div id="me"></div><div id="my-shadow"></div></a>
  <h2>Hi, I'm Jackson</h2>
  <p>I like patterns, code, and humans. I can see the future.</p>
  <ul>
    <li class="tilde">&sim;</li>
    <a href="/#"><li class="home" data-selector="home">Home</li></a>
    <a href="/#journals"><li class="journals" data-selector="post">Journals</li></a>
    <a href="/#projects"><li class="projects" data-selector="project">Projects</li></a>
    <a href="/#videos"><li class="videos" data-selector="video">Videos</li></a>
    <a href="/#photography"><li class="photography" data-selector="photograph">Photography</li></a>
    <a href="/#thoughts"><li class="thoughts" data-selector="thought">Thoughts</li></a>
    <a href="/#life"><li class="life" data-selector="event">Life</li></a>
    <li class="tilde">&sim;</li>
    <a href="/feeds"><li class="feeds">Feeds</li></a>
    <a href="/about"><li class="about">About</li></a>
    <a href="/goals"><li class="goals">Goals</li></a>
    <!-- <a href="/contact#email"><li class="contact">Contact</li></a> -->
    <!-- <a href="/resume#resume"><li class="resume">Résumé</li></a> -->
    <a href="https://twitter.com/jacksongariety" target="_blank"><li>Twitter</li></a>
    <a href="http://www.linkedin.com/profile/view?id=158897399" target="_blank"><li>LinkedIn</li></a>
    <a href="https://github.com/JacksonGariety" target="_blank"><li>GitHub</li></a>
  </ul>
</aside>

<%= yield %>

  <%= javascript_include_tag "application" %>
  <%= yield :hashtraffic %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29461279-1']);
    _gaq.push(['_setDomainName', 'jacksongariety.com']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>