<!DOCTYPE html>
<html>
<head>
  <title><%=h yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Hi, I'm Jackson. I like text editors and pixels and patterns and humans.">
  <%= auto_discovery_link_tag :atom, "/feeds/literary" %>
  <%= auto_discovery_link_tag :atom, "/feeds/architect" %>
  <%= auto_discovery_link_tag :atom, "/posts/stalker" %>
  <%= javascript_include_tag "modernizr" %>
</head>
<body>
<h1>Jackson Gariety — Designer, Developer, Philosopher</h1>
<aside>
  <a href="/"><div id="me"></div><div id="my-shadow"></div></a>
  <h2>Hi, I'm Jackson</h2>
  <p>I like text editors and pixels and patterns and humans.</p>
  <ul>
    <li class="tilde">&sim;</li>
    <a href="/#"><li class="home" data-selector="home">Home</li></a>
    <a href="/#journals"><li class="journals" data-selector="post">Journals</li></a>
    <a href="/#projects"><li class="projects" data-selector="project">Projects</li></a>
    <a href="/#videos"><li class="videos" data-selector="video">Videos</li></a>
    <a href="/#photography"><li class="photography" data-selector="photograph">Photography</li></a>
    <a href="/#thoughts"><li class="thoughts" data-selector="thought">Thoughts</li></a>
    <a href="/#life"><li class="life" data-selector="event">Life</li></a>
    <li class="tilde">&sim;</li>
    <a href="/feeds"><li class="feeds">Feeds</li></a>
    <a href="/resume"><li class="resume">Hire Me</li></a>
  </ul>
</aside>

<%= yield %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://hashtraffic.com/js/hashtraffic-desktop.js" %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29461279-1']);
    _gaq.push(['_setDomainName', 'jacksongariety.com']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>